@{
    ViewData["title"] = "Libraries Gallery";
    var user = ViewBag.user;
    var products = ViewBag.products;
    int totalQuantity = ViewBag.totalQuantity;
    var searchString = ViewBag.searchString;
}

@section Scripts {
    <script src="/js/focusSearchBox.js"></script>
}

<header class="d-flex align-items-center justify-content-between my-5">
    <div class="d-flex align-items-center">
        @if (user != null)
        {
            <h4 class="me-5">Hello, @user.name</h4>

            <a asp-controller="Order" asp-action="Index">
                My Purchases
            </a>
        
            <div class="vertical-line mx-3"></div>

            <a asp-controller="Logout" asp-action="Index">
                Logout
            </a>
        }
        else
        {
            <h4>Hello Guest!</h4>
        }
    </div>

    <a asp-controller="Cart" asp-action="Index" class="position-relative">
        <i class="bi bi-cart4 h3 text-secondary"></i>
        <span class="btn btn-primary rounded-pill position-absolute cart-position">@totalQuantity</span>
    </a>
</header>

<div class="mb-5">
    <form asp-controller="Product" asp-action="Index" method="POST">
        <input class="w-100 rounded-full px-4 py-2" type="text" onkeypress="submit" value="@searchString" id="searchString" name="searchString" placeholder="Quick Search . . . Type '/' to focus this search box!" />
    </form>
</div>

<div class="container">
    <div class="row">
        @if (products != null)
        {
            @foreach (var product in products)
            {
                <form asp-controller="Cart" asp-action="AddToCart" method="POST" class="grid-col mb-5">
                    <div class="card shadow">
                        <div class="image-container mx-auto my-3">
                            <img class="card-img-top" src="@product.imageUrl" alt="Product Image">
                        </div>
                        
                        <div class="card-body">
                            <h5 class="card-title">@product.name</h5>
                            <p class="card-text">@product.description</p>
                            
                            @if (user != null)
                            {
                                <input type="hidden" name="userId" value="@user.id" />
                            }
                            <input type="hidden" name="productId" value="@product.id" />
                            <button type="submit" class="btn btn-primary w-100">$ @product.price - Add to Cart</button>
                        </div>
                    </div>
                </form>
            }
        }
    </div>
</div>